pkgbase = yaak-bin
	pkgdesc = Simple and intuitive API client for calling REST, GraphQL, and gRPC APIs (Pre-compiled version)
	pkgver = 2025.1.0
	pkgrel = 0.1
	url = https://yaak.app/
	arch = x86_64
	license = MIT
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	provides = yaak
	provides = yaak-app
	conflicts = yaak
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-beta-bin
	conflicts = yaak-git
	replaces = yaak-app
	options = !strip
	options = !emptydirs
	source_x86_64 = yaak-bin-2025.1.0.deb::https://github.com/mountain-loop/yaak/releases/download/v2025.1.0-rc.1/yaak_2025.1.0-rc.1_amd64.deb
	source_x86_64 = yaak-bin-2025.1.0.LICENSE::https://raw.githubusercontent.com/mountain-loop/yaak/refs/tags/v2025.1.0-rc.1/LICENSE
	b2sums_x86_64 = 7cee3bed58c00aa1efb60fabbf38ad231c61c497e3a40d17c11324f5a33604f7eb4cd714f87ab9ca0f7c33b7cfb4298dd200dbbadf92ced93c1ad6411c78640d
	b2sums_x86_64 = 011fb406bfe4a8944efbae1f9cfa420fe421f1de3ae628802548676a1fe1318850a5f98c60cd29899efe3946dec329b6607f04917e966808f62f9e4ecaaea13b

pkgname = yaak-bin
