pkgbase = yaak
	pkgdesc = Simple and intuitive API client for calling REST, GraphQL, and gRPC APIs
	pkgver = 2024.11.0
	pkgrel = 1
	url = https://yaak.app/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = x86_64
	license = MIT
	makedepends = appmenu-gtk-module
	makedepends = cargo
	makedepends = git
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	provides = yaak-app
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !lto
	options = !strip
	options = !emptydirs
	source = yaak::git+https://github.com/yaakapp/app.git#tag=v2024.11.0
	source = yaak-plugins::git+https://github.com/yaakapp/plugins.git#commit=61543fb10f97607b2d8488a60ca986842ef12a35
	b2sums = 5576a4e91aaee786a389eabc5e46642826a3cba1136511abba4a0c8dea61da8812f1e630a4779489fdc579992bf962539c57e656926b9fc965714859d4dd6fd4
	b2sums = 094ebd6a5d41a4977aadd9d6f05d01862495532105591e57bceaed2a005754de508e4090c494b83ec2d528a76968b79f92ed5581e3cc0fd87cb158f58bbb684a

pkgname = yaak
