pkgbase = supercronic
	pkgdesc = A crontab-compatible job runner, designed specifically to run in containers
	pkgver = 0.2.49
	pkgrel = 1
	url = https://github.com/aptible/supercronic
	arch = aarch64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = riscv64
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	conflicts = supercronic-bin
	conflicts = supercronic-git
	options = !strip
	options = !emptydirs
	source = supercronic::git+https://github.com/aptible/supercronic.git#tag=v0.2.49
	b2sums = 84ebfbaea90bd3aa7e438d37d8ca209cdb2f5b366739bf050c8ab1a3be788944cb3da9f86f97ce60be5e6c03617924dd85dd30aa0af877d6016d41844cb0704e

pkgname = supercronic
