pkgbase = supercronic
	pkgdesc = A crontab-compatible job runner, designed specifically to run in containers
	pkgver = 0.2.34
	pkgrel = 1
	url = https://github.com/aptible/supercronic
	arch = aarch64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = riscv64
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	conflicts = supercronic-bin
	conflicts = supercronic-git
	options = !strip
	options = !emptydirs
	source = supercronic::git+https://github.com/aptible/supercronic.git#tag=v0.2.34
	b2sums = 108dbab97ed5cfe9f5e731cb652de3b48a66445be61574267bd61ee68e23fae05d96dc4056962916ff0f58958fd8cb21cae2f6e3326621408f808c160c56ce3a

pkgname = supercronic
