pkgbase = supercronic
	pkgdesc = A crontab-compatible job runner, designed specifically to run in containers
	pkgver = 0.2.39
	pkgrel = 1
	url = https://github.com/aptible/supercronic
	arch = aarch64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = riscv64
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	conflicts = supercronic-bin
	conflicts = supercronic-git
	options = !strip
	options = !emptydirs
	source = supercronic::git+https://github.com/aptible/supercronic.git#tag=v0.2.39
	b2sums = 85767276b7da9b2142fe5df6109daf53298ab6dd428ff057c85458eda43a2170e2d980bc8f2486949d2902f3b0ede689e1fd919275872d635c86372bd91b1eb1

pkgname = supercronic
