pkgbase = yaak-appimage
	pkgdesc = Fast, offline and Git-friendly API client for HTTP, GraphQL, WebSockets, SSE, and gRPC (AppImage version)
	pkgver = 2026.5.0
	pkgrel = 1
	url = https://yaak.app/
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = hicolor-icon-theme
	provides = yaak
	provides = yaak-app
	provides = yaak-app-client
	conflicts = yaak
	conflicts = yaak-app-beta
	conflicts = yaak-beta-bin
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !strip
	options = !emptydirs
	source = yaak-appimage-2026.5.0.LICENSE::https://raw.githubusercontent.com/mountain-loop/yaak/refs/tags/v2026.5.0/LICENSE
	b2sums = 011fb406bfe4a8944efbae1f9cfa420fe421f1de3ae628802548676a1fe1318850a5f98c60cd29899efe3946dec329b6607f04917e966808f62f9e4ecaaea13b
	source_aarch64 = yaak-appimage-2026.5.0-aarch64.AppImage::https://github.com/mountain-loop/yaak/releases/download/v2026.5.0/yaak_2026.5.0_aarch64.AppImage
	b2sums_aarch64 = e72cd2ec38d6ccf847a26e434c575e53ad7d08f3f2e4375eeaa2fcd99533984269bc425aeb627d034ad634d0407a9b786a13e90c8851b3227ba69ca2b00196f9
	source_x86_64 = yaak-appimage-2026.5.0-x86_64.AppImage::https://github.com/mountain-loop/yaak/releases/download/v2026.5.0/yaak_2026.5.0_amd64.AppImage
	b2sums_x86_64 = c675b191354b8fe2102216441ed5a1f2a06e96de499f09edba78bd0f72996657f7efd62c2828f8359777b0acc7f2ac94fa0069930aecfe94440f03fe2bb696d3

pkgname = yaak-appimage
