pkgbase = yaak-appimage
	pkgdesc = Simple and intuitive API client for calling REST, GraphQL, and gRPC APIs (AppImage version)
	pkgver = 2024.12.0
	pkgrel = 1
	url = https://yaak.app/
	arch = x86_64
	license = MIT
	depends = glibc
	depends = hicolor-icon-theme
	depends = zlib
	provides = yaak
	provides = yaak-app
	conflicts = yaak
	conflicts = yaak-app-beta
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !strip
	options = !emptydirs
	source_x86_64 = yaak-appimage-2024.12.0.AppImage::https://github.com/getyaak/app/releases/download/v2024.12.0/yaak_2024.12.0_amd64.AppImage
	source_x86_64 = yaak-appimage-2024.12.0.LICENSE::https://raw.githubusercontent.com/getyaak/app/refs/tags/v2024.12.0/LICENSE
	b2sums_x86_64 = b67a2e982da6cb2fd3209a68edd54bb37f97f67c258f9bebab1ababc3d6513d88a49da9950ddff510147fd3e44261e3dff267604d4f65b0abc9de0c1f0f43cd3
	b2sums_x86_64 = 011fb406bfe4a8944efbae1f9cfa420fe421f1de3ae628802548676a1fe1318850a5f98c60cd29899efe3946dec329b6607f04917e966808f62f9e4ecaaea13b

pkgname = yaak-appimage
