pkgbase = yaak
	pkgdesc = Fast, offline and Git-friendly API client for HTTP, GraphQL, WebSockets, SSE, and gRPC
	pkgver = 2025.8.2
	pkgrel = 1
	url = https://yaak.app/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = x86_64
	license = MIT
	makedepends = appmenu-gtk-module
	makedepends = cargo
	makedepends = git
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	depends = zlib
	provides = yaak-app
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !lto
	options = !strip
	options = !emptydirs
	source = yaak::git+https://github.com/mountain-loop/yaak.git#tag=v2025.8.2
	b2sums = 121134b3c4212b33328aba31634b445b4df15159ef93f0f1aa7723b62e2c899e12583713f7aacfc6442399d7d0264cd9dc3b2ed958fb603bcd400a34da36fdc5

pkgname = yaak
