pkgbase = yaak
	pkgdesc = Simple and intuitive API client for calling REST, GraphQL, and gRPC APIs
	pkgver = 2024.8.2
	pkgrel = 3
	url = https://yaak.app/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = x86_64
	license = MIT
	makedepends = appmenu-gtk-module
	makedepends = cargo
	makedepends = git
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	provides = yaak-app
	conflicts = yaak-app
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !lto
	options = !strip
	options = !emptydirs
	source = yaak::git+https://github.com/yaakapp/app.git#tag=v2024.8.2
	source = yaak-plugins::git+https://github.com/yaakapp/plugins.git#commit=75df5f8094c758567395ac6cf752cd8feb33d2a6
	source = yaak-2024.8.2.LICENSE::https://raw.githubusercontent.com/yaakapp/app/b616c5d78f5ac9aa721b847e755ada2f87353f4d/LICENSE
	b2sums = a15241fc7230e7c0cd816d7f9db3d37b7bc5db73d412d3da884ca7e7ca68918900f71ee289cab85bdd2bd40d169fd146ef4e81555bacc1f81204be243c167475
	b2sums = a6992a0487f33f169c88293c535e8aa5b170909fff40b0260c04d9ae57823bdeb4c38c0ac3f1cb0e317474331d92f54577ccbcb6758253ab989ca3442be7cad6
	b2sums = 011fb406bfe4a8944efbae1f9cfa420fe421f1de3ae628802548676a1fe1318850a5f98c60cd29899efe3946dec329b6607f04917e966808f62f9e4ecaaea13b

pkgname = yaak
