pkgbase = yaak
	pkgdesc = Offline and Git friendly API client for HTTP, GraphQL, WebSockets, SSE, and gRPC
	pkgver = 2025.1.2
	pkgrel = 1
	url = https://yaak.app/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = x86_64
	license = MIT
	makedepends = appmenu-gtk-module
	makedepends = cargo
	makedepends = git
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	depends = zlib
	provides = yaak-app
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !lto
	options = !strip
	options = !emptydirs
	source = yaak::git+https://github.com/mountain-loop/yaak.git#tag=v2025.1.2
	source = yaak-plugins::git+https://github.com/mountain-loop/plugins.git#commit=dfaeda224df46ab5e268f342b60aea0b773d1707
	b2sums = f45af5ed6e5216891983e8fe85cf3410d7ffa6d15ff083ce65a2f26ed8e9bc10ab4f4563920daa3b94e970312bc9a8fc7f1b606c8344356fcf7fccc32a301e15
	b2sums = 4565e2b5f50fa2ee6e1e1fbc8a5935064486a6fd6526f8ddb43a4821262fdabac8f032563ead90221be7560a5cb16cf8f5e910e9bea3699af9d15d7f00cb26d8

pkgname = yaak
