name: Build
run-name: Build ${{ inputs.package }}

on:
  # Can currently only be triggered manually
  workflow_dispatch:
    inputs:
      package:
        description: Package to build
        required: true
        type: string

      upload-built-package:
        description: Upload built package as an artifact
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest
    container: archlinux:latest@sha256:c136b06a4f786b84c1cc0d2494fabdf9be8811d15051cd4404deb5c3dc0b2e57
    defaults:
      run:
        shell: bash

    steps:
      - name: Install basic tools to build Arch Linux packages
        run: |
          pacman --sync --noconfirm --noprogressbar \
            --refresh \
            --sysupgrade \
            --needed base-devel

      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up non-root user
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          set -ux

          # Create 'runner' group and user
          groupadd \
            --gid 1001 \
            runner
          useradd \
            --uid 1001 \
            --gid runner \
            --home-dir "${GITHUB_WORKSPACE}" \
            --no-create-home \
            runner

          # Change ownership of the workspace to 'runner' user
          chown -R runner:runner "${GITHUB_WORKSPACE}"

          # Allow 'runner' user to use sudo without a password
          echo "runner ALL=(root) NOPASSWD: ALL" > /etc/sudoers.d/runner

      - name: Build package
        working-directory: ${{ inputs.package }}
        run: |
          set -ux

          # Configure makepkg for parallel compilation
          export MAKEFLAGS="--jobs=$(nproc)"

          runuser --user runner -- \
            makepkg --noconfirm --noprogressbar --syncdeps

      - name: Install namcap
        run: pacman --sync --noconfirm --noprogressbar --needed namcap

      - name: Analyze built package
        working-directory: ${{ inputs.package }}
        run: namcap -i *.pkg.tar.zst

      - if: inputs.upload-built-package == true
        name: Upload built package as an artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ inputs.package }}-package
          path: '${{ inputs.package }}/*.pkg.tar.zst'
          if-no-files-found: error
          compression-level: 0 # It's already compressed
          retention-days: 7
