name: Check yaak
run-name: Check ${{ inputs.package }}

# Can currently only be triggered manually
on:
  workflow_dispatch:
    inputs:
      package:
        description: Package
        type: choice
        required: true
        options:
          - yaak
          - yaak-appimage
          - yaak-bin
          - yaak-git

jobs:
  yaak:
    name: ${{ inputs.package }}
    uses: ./.github/workflows/check.yaml
    with:
      package: ${{ inputs.package }}
      smoke-test-command: trap 'c=$?; [ $c -eq 143 ] && exit 0 || exit $c' EXIT; yaak-app
      smoke-test-virtual-display: true
