name: Check yaak
run-name: Check ${{ inputs.package }}

# Can currently only be triggered manually
on:
  workflow_dispatch:
    inputs:
      package:
        description: Package
        type: choice
        required: true
        options:
          - yaak
          - yaak-appimage
          - yaak-bin
          - yaak-git

jobs:
  yaak:
    name: ${{ inputs.package }}
    uses: ./.github/workflows/check.yaml
    with:
      package: ${{ inputs.package }}
      smoke-test-command: yaak-app || { _c=$?; [ $_c -eq 143 ] || exit $_c; }
      smoke-test-virtual-display: true
