name: Check
run-name: Check ${{ inputs.package }}

# Can only be called from another workflow
on:
  workflow_call:
    inputs:
      package:
        description: Package
        type: string
        required: true

      smoke-test-command:
        description: Bash command to run for smoke test
        type: string
        required: false
        default: ''

      smoke-test-duration:
        description: Maximum duration in seconds to run the smoke test command
        type: number
        required: false
        default: 15

      smoke-test-virtual-display:
        description: Run the smoke test command with a virtual display using Xvfb
        type: boolean
        required: false
        default: false

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest
    container: archlinux:latest@sha256:c136b06a4f786b84c1cc0d2494fabdf9be8811d15051cd4404deb5c3dc0b2e57
    defaults:
      run:
        shell: bash

    steps:
      - name: Bring system up to date and install basic tools to build Arch Linux packages
        run: |
          pacman --sync --noconfirm --noprogressbar \
            --refresh \
            --sysupgrade \
            --needed base-devel

      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up non-root user
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          set -ux

          # Create 'runner' group and user
          groupadd \
            --gid 1001 \
            runner
          useradd \
            --uid 1001 \
            --gid runner \
            --home-dir "${GITHUB_WORKSPACE}" \
            --no-create-home \
            runner

          # Change ownership of the workspace to 'runner' user
          chown -R runner:runner "${GITHUB_WORKSPACE}"

          # Allow 'runner' user to use sudo without a password
          echo "runner ALL=(root) NOPASSWD: ALL" > /etc/sudoers.d/runner

      - name: Build package
        working-directory: ${{ inputs.package }}
        run: |
          set -ux

          # Configure makepkg for parallel compilation
          export MAKEFLAGS="--jobs=$(nproc)"

          runuser --user runner -- \
            makepkg --noconfirm --noprogressbar --syncdeps

      - name: Install namcap
        run: pacman --sync --noconfirm --noprogressbar --needed namcap

      - name: Analyze built package
        working-directory: ${{ inputs.package }}
        run: namcap -i *.pkg.tar.zst

      - id: upload-built-package
        name: Upload built package as an artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ inputs.package }}-package
          path: '${{ inputs.package }}/*.pkg.tar.zst'
          if-no-files-found: error
          compression-level: 0 # It's already compressed
          retention-days: 7

    outputs:
      built-package-artifact-id: ${{ steps.upload-built-package.outputs.artifact-id }}

  smoke-test:
    needs: build

    name: Smoke Test

    runs-on: ubuntu-latest
    container: archlinux:latest@sha256:c136b06a4f786b84c1cc0d2494fabdf9be8811d15051cd4404deb5c3dc0b2e57
    defaults:
      run:
        shell: bash

    steps:
      - name: Bring system up to date
        run: |
          pacman --sync --noconfirm --noprogressbar \
            --refresh \
            --sysupgrade

      - name: Download built package artifact
        uses: actions/download-artifact@v7.0.0
        with:
          artifact-ids: ${{ needs.build.outputs.built-package-artifact-id }}

      - name: Install built package
        run: pacman --upgrade --noconfirm --noprogressbar --needed *.pkg.tar.zst

      - if: inputs.smoke-test-command != '' && inputs.smoke-test-virtual-display != true
        name: Run smoke test command
        env:
          SMOKE_TEST_COMMAND: ${{ inputs.smoke-test-command }}
          SMOKE_TEST_DURATION: ${{ inputs.smoke-test-duration }}
        run: |
          set -ux

          TIMEOUT="${SMOKE_TEST_DURATION}s"
          KILL_AFTER="$((SMOKE_TEST_DURATION * 2))s"

          # Run the smoke test command with a timeout
          timeout --preserve-status --kill-after="${KILL_AFTER}" "${TIMEOUT}" \
            bash --noprofile --norc -euxo pipefail -c "${SMOKE_TEST_COMMAND}"

      - if: inputs.smoke-test-command != '' && inputs.smoke-test-virtual-display == true
        name: Run smoke test command with virtual display
        env:
          SMOKE_TEST_COMMAND: ${{ inputs.smoke-test-command }}
          SMOKE_TEST_DURATION: ${{ inputs.smoke-test-duration }}
        run: |
          set -ux

          TIMEOUT="${SMOKE_TEST_DURATION}s"
          KILL_AFTER="$((SMOKE_TEST_DURATION * 2))s"

          # Install virtual framebuffer X server
          pacman --sync --noconfirm --noprogressbar --needed xorg-server-xvfb

          # When the script exits, print any Xvfb errors
          trap "cat /tmp/xvfb-run-error.txt && rm --force /tmp/xvfb-run-error.txt" EXIT INT TERM QUIT

          # Run the smoke test command with Xvfb and a timeout
          xvfb-run --auto-servernum --error-file=/tmp/xvfb-run-error.txt -- \
            timeout --preserve-status --kill-after="${KILL_AFTER}" "${TIMEOUT}" \
              bash --noprofile --norc -uxo pipefail -c "${SMOKE_TEST_COMMAND}"
