name: Check
run-name: Check ${{ inputs.package }}

# Can only be called from another workflow
on:
  workflow_call:
    inputs:
      package:
        description: Package
        type: string
        required: true

      smoke-test-command:
        description: Bash command to run for smoke test
        type: string
        required: false
        default: ''

      smoke-test-duration:
        description: Maximum duration in seconds to run the smoke test command
        type: number
        required: false
        default: 15

      smoke-test-virtual-display:
        description: Run the smoke test command with a virtual display using Xvfb
        type: boolean
        required: false
        default: false

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest
    container: archlinux:latest@sha256:4585b6322b40a28877dbe2363c7281dd046d9289300a36f58edc207ed1c8db90
    defaults:
      run:
        shell: bash --noprofile --norc -euxo pipefail {0}

    steps:
      - name: Bring system up to date and install basic tools to build Arch Linux packages
        run: |
          pacman --sync --noconfirm --noprogressbar \
            --refresh \
            --sysupgrade \
            --needed base-devel

      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up non-root user
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          # Create 'runner' group and user
          groupadd \
            --gid 1001 \
            runner
          useradd \
            --uid 1001 \
            --gid runner \
            --home-dir "${GITHUB_WORKSPACE}" \
            --no-create-home \
            runner

          # Change ownership of the workspace to 'runner' user
          chown -R runner:runner "${GITHUB_WORKSPACE}"

          # Allow 'runner' user to use sudo without a password
          echo "runner ALL=(root) NOPASSWD: ALL" > /etc/sudoers.d/runner

      - name: Build package
        working-directory: ${{ inputs.package }}
        run: |
          # Configure makepkg for parallel compilation
          export MAKEFLAGS="--jobs=$(nproc)"

          runuser --user runner -- \
            makepkg --noconfirm --noprogressbar --syncdeps

      - name: Install namcap
        run: pacman --sync --noconfirm --noprogressbar --needed namcap

      - name: Analyze built package
        working-directory: ${{ inputs.package }}
        run: namcap -i *.pkg.tar.zst

      - id: upload-built-package
        name: Upload built package as an artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.package }}-package
          path: '${{ inputs.package }}/*.pkg.tar.zst'
          if-no-files-found: error
          compression-level: 0 # It's already compressed
          retention-days: 7

    outputs:
      built-package-artifact-id: ${{ steps.upload-built-package.outputs.artifact-id }}

  smoke-test:
    needs: build

    name: Smoke Test

    runs-on: ubuntu-latest
    container:
      image: archlinux:latest@sha256:4585b6322b40a28877dbe2363c7281dd046d9289300a36f58edc207ed1c8db90
      # Support FUSE for AppImage smoke tests
      options: --cap-add=SYS_ADMIN --cap-add=MKNOD --device=/dev/fuse:mrw --privileged
    defaults:
      run:
        shell: bash --noprofile --norc -euxo pipefail {0}

    steps:
      - name: Bring system up to date
        run: |
          pacman --sync --noconfirm --noprogressbar \
            --refresh \
            --sysupgrade

          # Ensure machine-id exists for dbus
          dbus-uuidgen > /etc/machine-id

      - name: Download built package artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ needs.build.outputs.built-package-artifact-id }}

      - name: Install built package
        run: pacman --upgrade --noconfirm --noprogressbar --needed *.pkg.tar.zst

      - name: Set up non-root user
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          # Create 'runner' group and user
          groupadd \
            --gid 1001 \
            runner
          useradd \
            --uid 1001 \
            --gid runner \
            --home-dir "${GITHUB_WORKSPACE}" \
            --no-create-home \
            runner

          # Change ownership of the workspace to 'runner' user
          chown -R runner:runner "${GITHUB_WORKSPACE}"

          # Allow 'runner' user to use sudo without a password
          mkdir -p --mode=755 /etc/sudoers.d
          echo "runner ALL=(root) NOPASSWD: ALL" > /etc/sudoers.d/runner

      - if: inputs.smoke-test-command != '' && inputs.smoke-test-virtual-display != true
        name: Run smoke test command
        env:
          SMOKE_TEST_COMMAND: ${{ inputs.smoke-test-command }}
          SMOKE_TEST_DURATION: ${{ inputs.smoke-test-duration }}
        run: |
          TIMEOUT="${SMOKE_TEST_DURATION}s"
          KILL_AFTER="$((SMOKE_TEST_DURATION * 2))s"

          # Run the smoke test command with a timeout
          set +e
          runuser --user runner -- \
            timeout --kill-after="${KILL_AFTER}" "${TIMEOUT}" \
              bash --noprofile --norc -euxo pipefail -c "${SMOKE_TEST_COMMAND}"
          exit_status=$?
          set -e

          # Regular timeout is considered success (kill-after is failure)
          if [ "${exit_status}" -eq 124 ]; then
            : "Smoke test command timed out regularly after ${TIMEOUT}."
            exit 0
          else
            exit "${exit_status}"
          fi

      - if: inputs.smoke-test-command != '' && inputs.smoke-test-virtual-display == true
        name: Run smoke test command with virtual display
        env:
          SMOKE_TEST_COMMAND: ${{ inputs.smoke-test-command }}
          SMOKE_TEST_DURATION: ${{ inputs.smoke-test-duration }}
        run: |
          TIMEOUT="${SMOKE_TEST_DURATION}s"
          KILL_AFTER="$((SMOKE_TEST_DURATION * 2))s"

          # Install virtual framebuffer X server
          pacman --sync --noconfirm --noprogressbar --needed xorg-server-xvfb

          # When the script exits, print any Xvfb errors
          trap "cat /tmp/xvfb-run-error.txt && rm --force /tmp/xvfb-run-error.txt" EXIT INT TERM QUIT

          # Run the smoke test command with Xvfb and a timeout
          set +e
          xvfb-run --auto-servernum --error-file=/tmp/xvfb-run-error.txt -- \
            runuser --user runner -- \
              timeout --kill-after="${KILL_AFTER}" "${TIMEOUT}" \
                bash --noprofile --norc -euxo pipefail -c "${SMOKE_TEST_COMMAND}"
          exit_status=$?
          set -e

          # Regular timeout is considered success (kill-after is failure)
          if [ "${exit_status}" -eq 124 ]; then
            : "Smoke test command timed out regularly after ${TIMEOUT}."
            exit 0
          else
            exit "${exit_status}"
          fi
